#textConsole{
    -fx-text-fill: black;
    -fx-font-family: "Monospaced";
}

#text{
    -fx-text-fill: black;
    -fx-font-family: "Arial";
}

.label{
    -fx-text-fill: black;
    -fx-font-family: "Monospaced";
    -fx-font-size: 32px;
}