.button{
     -fx-text-fill: white;
     -fx-font-family: "Arial";
     -fx-font-weight: bold;
     -fx-background-color: linear-gradient(#1B26C2, #191D4F);
     -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1);
}

.text-area{
    -fx-text-fill: Black;
    -fx-font-family: "Monospaced";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#1B26C2, #191D4F);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1);
}