.root{
    -fx-background-color: linear-gradient(#ff0000, #ffff00);
}

.button{
     -fx-text-fill: white;
     -fx-font-family: "Arial Black";
     -fx-font-weight: bold;
     -fx-background-color: linear-gradient(#8b0000, #450000);
     -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1);
}
